<div class="row">
    <div class="col-sm-12">

<%= semantic_form_for @bcard, :html => { :class => 'panel form-horizontal' } do |f| %>
    <%= render 'share/form_header', record: @bcard, type: :bcard, title: :business_card %>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <%= f.input :name %>
            </div>
            <div class="col-sm-6">
                <%= f.input :company %>
            </div>
            <div class="col-sm-6">
                <%= f.input :jobtitle %>
            </div>
            <div class="col-sm-6">
                <%= f.input :theme,
                    as: :select,
                    collection: ["blue", "orange"]
                %>
            </div>
            <div class="col-sm-6">
                <%= f.input :vcardurl %>
            </div>

            <div class="col-md-12">
                <%= f.input :photo, :as => :file, :hint => f.template.image_tag(f.object.photo.url(:thumb)), input_html: { capture: "camera", accept: "image/*" } %>
            </div>

            <%= f.semantic_fields_for :contact_fields do |cf| %>
                <div class="col-sm-6">
                    <%= cf.input :value, label: cf.object.name %>

                    <%= cf.input :name, as: :hidden, input_html: { value: cf.object.name } %>

                    <%= cf.input :ftype, as: :hidden, input_html: { value: cf.object.ftype } %>
                </div>
            <% end %>

            <% if @bcard.contact_fields.length > 0 and (@bcard.contact_fields.length % 2) != 0 %>
                <div class="col-sm-6"></div>
            <% end %>

            </div>

           <div class="panel-footer text-right">
             <%= f.action :submit, :as => :input, :input_html => { :class => "btn btn-primary" } %>
           </div>
        </div>
    </div>
<% end %>

    </div>
</div>
