<%= render 'form' %>
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Mobile view qrcode</span>
    </div>
    <div class="panel-body">
        Link : <%= link_to @qr_link, @qr_link %>  <br>
        <br>
        <img src="<%= @qr_for_link.image.url %>" alt="qrcode" />
    </div>
</div>