<script>
	window.routes = {
		new_app: '<%= n_url %>',
		login: '/ml/{redirection_url}'
	};
	<% if current_user and @bcard.user.id == current_user.id %>
	if (window.currentUser) {
		window.currentUser.owner = true;
	}
	window.routes.edit = '<%= edit_polymorphic_path(@bcard.weiapp.app) %>';
	<% end %>
</script>

<script src="/bcards/<%= @bcard.id %>.js"></script>

<% content_for :stylesheets do %>
    <%= stylesheet_link_tag '/bcard/ecard@1.0.1.css' %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag '/bcard/ecard@1.0.1.js' %>
<% end %>

<% content_for :title do %>Business card<% end %>

<% content_for :meta do %>
	<meta name="alive-app-version" content="1.0.1">
	<meta name="alive-app-title" content="Business card">
	<meta name="alive-app-id" content="wxm.bcard">
<% end %>