<script src="/bcards/<%= params[:id] %>.js"></script>

<% content_for :stylesheets do %>
    <%= stylesheet_link_tag '/bcard/ecard@1.0.0.css' %>
<% end %>

<% content_for :javascripts do %>
    <%= javascript_include_tag '/bcard/ecard@1.0.0.js' %>
<% end %>

<% content_for :title do %>Business card<% end %>

<% content_for :meta do %>
	<meta name="alive-app-version" content="1.0.0">
	<meta name="alive-app-title" content="Business card">
	<meta name="alive-app-id" content="wxm.bcard">
<% end %>