window.bcard = <%= raw @bcard.to_json %>;
window.previewModel = {
    image: 'http://' + window.location.host + <%= raw @bcard.photo.url(:medium).to_json %>,
    image_width: 300,
    image_height: 300,
    title: <%= raw @bcard.name.to_json %>,
    description: <%= raw "#{@bcard.company} - #{@bcard.jobtitle}".gsub(/[\n\r\t]+/, " ").to_json %>
};